body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	max-height: 20px;
    font-family: verdana;
	font-size: 30px;
	font-weight: bold;
    margin-bottom: 25px;
}

#autonom img {
	
	width: 500px; /* or any custom size */
    height: 250px; 
    
	
}

#manual img {
	width: 500px; /* or any custom size */
    height: 250px; 
    
	
	
	
}



#party img {
	
	width: 500px; /* or any custom size */
    height: 520px; 
    
	
	
}


#flat {
	
	width: 50px; /* or any custom size */
    height: 50px;
	
}

#Barkeeper 11€/h img {
	
	width: 50px; /* or any custom size */
    height: 50px;
	
}

#Whirlpool 7€/h img {
	
	width: 50px; /* or any custom size */
    height: 50px;
	
}

#Musikanlage 5€/h img {
	
	width: 50px; /* or any custom size */
    height: 50px;
	
}

#DJ 11€/h {
	
	width: 50px; /* or any custom size */
    height: 50px;
	
}

#Raucheffekte 5€/h {
	
	width: 50px; /* or any custom size */
    height: 50px;
	
}

#Tänzerinnen 12€/h {
	
	width: 50px; /* or any custom size */
    height: 50px;
	
}

#Buffet 7€/h {
	
	width: 50px; /* or any custom size */
    height: 50px;
	
}

#Casintotisch 5€/h {
	
	width: 50px; /* or any custom size */
    height: 50px;
	
}

.header {
	display: flex;
	position: relative;
	height: 120px;
    flex-direction: row;
    flex-wrap: nowrap;
	align-items: left;
	background-color: #09C;
}

.main {
	display: flex;
	position: relative;
	justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 20px;
}

.flex-col {
	display: flex;
	position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flex-row {
	display: flex;
	position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
}

.tile-selectable {
    margin: 5px;
    border: 6px blue;
    border-style: groove;
    border-radius: 8px;
}

.tile-selectable:active {
    box-shadow: 0 0 10px 4px #1D30A9, inset 0 0px 10px #1D30A9;
}


.service-div1{
	background-color: white;
	min-width: 400px;
	min-height: 250px;
}

.service-div2 {
	background-color: white;
	min-width: 400px;
	min-height: 500px;
}

.feature-div {
    background-color: white;
	min-width: 200px;
	min-height: 166px;
    text-align: center;
}

.overview {
	font-size: 28px; 
	margin: 10px;
}

.overview-input {
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px; 
	min-width: 250px;
}

.arrow {
    width: 200px; 
    height: 50px; 
    background-image: url("arrow.png");
}

.arrow:active {
    box-shadow: 0 0 10px 4px #1D30A9, inset 0 0px 10px #1D30A9;
}

#logo {
	margin: 15px;
	max-width: 120px;
	max-height: 360px;
}

#back {
	min-width: 200px;
	min-height: 100px;
	background-image: url("back.png");
	text-align: right;
    background-repeat: no-repeat;
    visibility: hidden;
}

.button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
    
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	
    padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    text-align: center;
    margin: 4px;
    color:#1D30A9;
}

.button:active {
    box-shadow: 0 0 10px 4px #1D30A9, inset 0 0px 10px #1D30A9;
}

.combobox {
	background-color:white;
	background-image:url(select-arrow.png);
}